{
  "mariadb": {
    "url": "root@tcp(mc-red-test-2.movio-dev.co:3306)/vc_test"
  },
  "kafka": {
    "brokers": "localhost:9092",
    "topics": {
      "my.topic.name": {
        "fsmID": "{{ index .Value \"my-jsons-fsm-identifier-key\" }}"
      }
    }
  },
  "snitchPort": 9009,
  "serverPort": 9000
}
